{% extends 'base.html' %}
{% load static %}

{% block title %}Home - {{ block.super }}{% endblock %}

{% block body %}
    <header class="home-header">
        <h1>BEM-VINDO MENTALIZE</h1>
        <p>Atendimentos Psicológicos</p>
    </header>

    <main class="home-main">
        <section class="home-card">
            <i class="fas fa-stethoscope home-icon"></i>
            <h2>ESPECIALIDADES</h2>
            <p>Especialidades disponíveis dos nossos profissionais.</p>
            <a href="{% url 'especialidades:list' %}" class="home-btn">
                <i class="fas fa-sign-in-alt"></i> ACESSAR ESPECIALIDADES
            </a>
        </section>

        <section class="home-card">
            <i class="fas fa-user-md home-icon"></i>
            <h2>PROFISSIONAIS</h2>
            <p>Conheça os profissionais disponíveis para atendimento.</p>
            <a href="{% url 'profissionais:list' %}" class="home-btn">
                <i class="fas fa-sign-in-alt"></i> ACESSAR PROFISSIONAIS
            </a>
        </section>
        
        <section class="home-card">
            <i class="fas fa-user-injured home-icon"></i>
            <h2>PACIENTES</h2>
            <p>Cadastre e visualize os pacientes atendidos.</p>
            <a href="{% url 'pacientes:listar' %}" class="home-btn">
                <i class="fas fa-sign-in-alt"></i> ACESSAR PACIENTES
            </a>
        </section>

        <section class="home-card">
            <i class="fas fa-calendar-check home-icon"></i>
            <h2>ATENDIMENTOS</h2>
            <p>Gerencie os atendimentos realizados na clínica.</p>
            <a href="{% url 'atendimentos:listar' %}" class="home-btn">
                <i class="fas fa-sign-in-alt"></i> ACESSAR ATENDIMENTOS
            </a>
        </section>

        <section class="home-card">
            <i class="fas fa-pills home-icon"></i>
            <h2>CATEGORIAS</h2>
            <p>Gerencie as categorias dos medicamentos prescritos.</p>
            <a href="{% url 'categorias:listar' %}" class="home-btn">
                <i class="fas fa-sign-in-alt"></i> ACESSAR CATEGORIAS
            </a>
    </section>

    </main>
{% endblock %}
