{% extends 'base.html' %}
{% load static %}

{% block title %}Bem-vindo Mentalize{% endblock %}

{% block body %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">

<div class="home-container">
  <h1>👥 BEM-VINDO AO <strong>MENTALIZE</strong></h1>
  <p>Atendimentos Psicológicos de forma ética e acolhedora.</p>

  <div class="home-section">
    <h2>🧠 Especialidades</h2>
    <p>Conheça as especialidades oferecidas pelos nossos profissionais.</p>
    <a href="{% url 'especialidades:list' %}" class="home-button">Ver Especialidades</a>
  </div>

  <div class="home-section">
    <h2>👨‍⚕️ Profissionais</h2>
    <p>Veja quem faz parte da nossa equipe técnica qualificada.</p>
    <a href="{% url 'profissional:list' %}" class="home-button">Ver Profissionais</a>
  </div>
</div>
{% endblock %}
